.players-slider {
  display: flex;
  gap: 10px;
  width: 100%;
}

.players-slider input {
  flex: 1;
}

label {
  align-self: baseline;
}

.players-display {
  width: 1rem;
}

.checkbox-section {
  display: flex;
  align-items: center;
  gap: 5px;
}

.character-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
  width: 100%;
  margin-bottom: 1rem;
}

.character {
  min-width: 4rem;
  height: auto;
  font-size: var(--text-xs);
  text-align: center;
}

/* .character p::after {
  display: block;
  content: attr(data-content);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
} */

.character .hidden-bold {
  height: 0px;
  font-weight: bold;
  overflow-y: hidden;
}

.character.selected {
  font-weight: bold;
}

.character:not(.selected) {
  color: var(--unselected-color);
}

.character img {
  height: 3.5rem;
  width: 3.5rem;
  object-fit: contain;
  filter: saturate(0) brightness(0.8);
}

.character.selected.outsider > img,
.character.selected.townsfolk > img {
  filter: drop-shadow(0px 0px 6px var(--good-highlight));
}

.character.selected.minion > img,
.character.selected.demon > img {
  filter: drop-shadow(0px 0px 6px var(--evil-highlight));
}

.character p {
  margin: 0;
}

.random-button {
  align-self: center;
}

@media (min-width: 768px) {
  .character {
    min-width: 5.2rem;
    font-size: var(--text-base);
    padding: 0.5rem;
  }

  .character img {
    width: 5rem;
  }

  .character-select {
    row-gap: 1rem;
  }
}
